<div class="row first-seccion" ng-init="expandido = false">

    <div class="col-md-10">
        <a ng-click="expandido= !expandido; collapseSection(section,expandido);">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show='expandido'></span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-show='!expandido'></span>
        </a>
        <div class="input-seccion">
            <input ng-model="section.name" class="form-control" type="text" placeholder="T&iacute;tulo de la Secci&oacute;n">
        </div>
    </div>

    <div class="col-md-2 buttons-seccion">
        <!--a ng-click="visualizarSeccion()" class="btn btn-info">
            <span class="ml-icon ml-icon-edit"></span>
        </a>
        <a ng-click="editarSeccion()" class="btn btn-info">
            <span class="ml-icon ml-icon-view"></span>
        </a-->
        <a ng-click="eliminarSeccion(section, $index)" class="btn btn-danger" title="Eliminar Sección">
            <span class="ml-icon ml-icon-delete"></span>
        </a>
        <a ng-click="guardarSeccion($index)" class="btn btn-info">
            <span class="ml-icon ml-icon-guardar">Guardar</span>
        </a>
    </div>
</div>

<div ng-show='expandido&&section.pages' ng-repeat="page in section.pages">
    <page-preview></page-preview>
</div>

<!--ng-show = '!expandido'-->
<div class="row page-seccion">
    <div class="col-md-12">
        <a ng-click="nuevaPagina(section)" href="#" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Nueva P&aacute;gina
        </a>
    </div>
</div>

