<div ng-form class="well">
    <div class="row">
        <div class=" col-md-7">

            <div class="form-group">
                <label for="nombre"> *Título de la página</label>
                <input ng-model="page.slide.lotitle" class="form-control" type="text" placeholder="Título de la página" required="required">
            </div>

            <div class="form-group">
                <label for="descripcion"> *Descripción</label>
                <textarea class="form-control"
                          ng-model="page.slide.loparagraph" type="text"
                          placeholder="Descripción" rows="4" required></textarea>
            </div>

            <!-- <input type='file' id="imgInp" ng-model = 'rutaImage' />
            <img class="tamIconTabla img-responsive" src="images/{{rutaImage}}" >
            -->
            <select kendo-combo-box
                    k-placeholder="'Tag...'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-auto-bind="false"
                    k-min-length="3"
                    k-data-source="{ transport: {read: { url:'/Resources/Read_tags', type:'post', datatype: 'json'} } }"
                    k-ng-model="page.slide.pagetag"
                    required="required">

            </select>
        </div>

        <div class="col-md-5">
            <div class="box-image">
                <div class="cubierta">

                    <input id="urlImageIn" name="urlImageIn" ng-model="page.slide.loimage" type="hidden" required="required" />
                    <img id="coverImage" src="/images/029_icon_imagen.png" ng-src="{{ page.slide.loimage }}" />
                    <small>Imagen obligatoria</small>

                    <input name="files"
                           type="file"
                           kendo-upload
                           k-async="{ saveUrl: '/Resources/UploadImage', autoUpload: true }"
                           k-multiple="false"
                           k-show-file-list="false"
                           k-success="onUploadSlideImageSuccess" />

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <!-- <input type="file" accept="images/*" image="image"/>
    <img ng-show="image" ng-src="images/{{image.url}}" type="{{image.file.type}}" />-->
</div>